<!DOCTYPE html>
<html xml:lang="en" lang="en" class="htmlnew">


<div class="res_nav boxy" style="z-index: 3; padding: 15px; background-color: transparent;">
  <div class="col-xs-6">
    <a href="/"><img src="assets/logo1.svg" style="height: 100px;" alt="Kiwi standing on oval"></a?

</object>
</a></h1>
</div>
<div class="col-xs-6">

<div class="row" >
  <h3  style="margin-top: 15px; color: white;text-align: right;font-size: 30px;font-family: 'Rough';"><%= link_to "Resorts", resorts_path, style: "color: white;text-align: right;" %></h3>
</div>
<div class="row" >

  <h3  style="margin: 0px;color: white;text-align: right; font-size: 30px;font-family: 'Rough';"><%= link_to "About", about_path, style: "color: white;text-align: right;" %></h3>
</div>
</div>


</div>

<div id="background">
<!--
  <div class="centered">

  </div> -->
</div>

<div style="width: 100%;padding: 0px;background-color: transparent;position: fixed ;bottom: 38px;left: 0px;"class="container-fluid">
<div class="boxy" style="padding: 0px;" >
      <div class="row " style="padding: 15px;">

      <div class="col-xs-8 "style="z-index: 2; ">
        <h1 style="font-size: 7em;color: white; text-align: center;">Find Me Gnar</h1>
        <hr>
        <h2 style="color: #333; float: center; text-align: center;">
          Enter your location to find the best snow around
        </h2>


      </div>
      <div class="col-xs-4 boxy" style="max-height:300px; background-color: transparent">
        <%= render 'form' %>
      </div>
    </div>

    <!-- <div class="col-xs-4 box mid">

      <div class="boxy">

        <h1>Ride Share</h1>
        <p>
          Enter your location and destination to look for a ride
        </p>
        <%= render 'rides/form' %>
      </div>

    </div> -->

    </div>
</div>

</html>
