<html class = "htmlnew">
<div class="col-xs-4 col-xs-offset-4">
<h1>Find Me Gnar</h1>
<p>Enter your location to find the best snow around</p>


  <%= render 'form' %>

  <%= link_to 'Back', searches_path %>
</div>
</html>
