<html class="htmlshow">
<!-- Wrap all page content here -->
<div style="width: 80%;margin: auto;"class="container-fluid boxy">

    <div class="container-fluid">
      <%= render 'table' %>
      <%= render 'formshow' %>
    </div>
    <br>
    <p style="color: #777;text-align: center;">Scott Silverstein © 2016<p>
    </div>

  </div>

</html>
