/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require featherlight

 *= require_tree .
 *= require_self

 */

 /* Navigation Menu - Background */
 @keyframes example {
    0%   { left:-60px; top:25px;}
    100%  { left:60; top:25px;}

}
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #333;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 150px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  z-index: 0;
  display: block;
  padding: 1em;
  color: #DDD;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.5s, background 2s;
}

.nav-item  a:hover {
  color: #333;
  background-color: #F8F8F8 !important;
}
.ticker {
  background-color: #333 !important;
  color: #90A860 !important;

  text-decoration: none;
  transition: color 0.5s;
}

.ticker:hover {
  color: #F8F8F8 !important;

  background-color: #333 !important;

}
a {
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: #90A860 !important;


}
#drawer {
  background-color: #333 !important;

  transition: background 0.5s;

}
#drawer:hover {
  background-color: #F8F8F8 !important;

}
.resort_link {
  color: #333 !important;

  text-decoration: none;
  transition: color 0.5s;
}

.resort_link:hover {
  color: #90A860 !important;

}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  background-color: #F8F8F8;; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  /* non-critical apperance styles */
  padding: 1em 1em 1em 6em;
  padding-left: 120px !important;
  background-size: 200%;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);

}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);

}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 60px; top: 25px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 45px;
  width: 45px;
  cursor: pointer;
  background-image: url(logo.svg);
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;

  animation-name: example;
  animation-duration: 2s;

  color: #F8F8F8 !important;
  transition: color 0.5s;

  transform: scale(3);


}
label[for="nav-trigger"]:hover {
  /* critical styles - hide the checkbox input */
  color: #618f6d !important;

}


/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 210px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 150px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */


code {
	padding: 2px;
	background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%;  font-family: Helvetica, Arial, sans-serif; }
