<div style="width: 80%;margin: auto;"class="container-fluid boxy">
  <div class="container-fluid">
    <h1>Find Me Gnar</h1>
    <h2>A site to show you the closest mountains with the best conditions</h2>

    <h2>Created by Scott Silverstein</h2>

    <br>
    <h2> <a href="www.scottsilverstein.com">www.scottsilverstein.com</a></h2>
    <hr>
    <h2> <a href="https://github.com/scsilver/">github.com/scsilver</a></h2>
  </div>
  <br>
  <p style="color: #777;text-align: center;">Scott Silverstein © 2016<p>
  </div>
</div>
