<div class="res_nav boxy" style="z-index: 3; padding: 15px;">
  <div class="col-xs-6">
    <a href="/"><img src="assets/logo2.svg" style="height: 90px;fill: blue;" alt="Kiwi standing on oval"></a>
</div>
<div class="col-xs-6">

<div class="row" style="margin: 0;">
  <h3  style="margin: 0px;float: right;font-size: 30px;font-family: 'Rough';"><%= link_to "Resorts", resorts_path %></h3>
</div>
<div class="row" style="margin: 0;">

  <h3  style="margin: 0px;float: right; font-size: 30px;font-family: 'Rough';"><%= link_to "About", about_path %></h3>
</div>
</div>


</div>

<div class="headimgres">
</div>
<div style="width: 80%;margin: auto; padding-top: 450px; background-color: transparent;"class="container-fluid boxy">
  <div class="container-fluid">
    <h1 style="text-align: center;font-size: 5em;font-family:'Rough'" class="resort_name">About This Site</h1>
    <hr>

    <h2 style="text-align: center;"  >A site to show you the closest mountains with the best conditions</h2>

    <h2 style="text-align: center;" >Created by Scott Silverstein</h2>

    <h2 style="text-align: center;"> <a  href="http://www.scottsilverstein.com">www.scottsilverstein.com</a></h2>

    <h2 style="text-align: center;"> <a   href="https://github.com/scsilver/">github.com/scsilver</a></h2>
  </div>
  <br>
  </div>
</div>
