<!DOCTYPE html>
<html>

<head>
  <title>FindMeGnar</title>
    <%= stylesheet_link_tag "application", debug: true %>
    <%= javascript_include_tag "application", debug: true %>
    <script>
      Ajaxify.init()
    </script>
</head>
<body>
  <!-- Fixed navbar -->
  <ul class="navigation">
	<li class="nav-item"><a href="/">FindMeGnar</a></li>
	<li class="nav-item"><a href="/resorts">Resorts</a></li>
	<li class="nav-item"><a href="/about">About</a></li>
  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />

  <label for="nav-trigger"></label>


    <div class="site-wrap" id="main">
      <%= yield %>
    </div>
  <div class="navbar navbar-bottom navbar-fixed-bottom">
    <div class="container2">
      <div class="collapse navbar-collapse">
        <div class="collapse navbar-collapse">
          <marquee onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="left" loop="INFINITE" scrollamount="4" height="30px" width=100%>
            <ul class="nav navbar-nav">
              <%- Resort.all.where("snowfall >= 0").order(:snowfall).reverse.each do |r| %>
                <%a="  " +r.symbol + ": "  %>
                  <% unless r.snowfall == nil  %>
                    <%a=a + r.snowfall.to_s + "\""%>
                      <%else%>
                        <%end%>
                          <li>
                            <%=link_to a, resort_path(r)%>
                          </li>
                          <% end%>
            </ul>
          </marquee>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
